.navigation {
    display: flex;
    justify-content: space-evenly;
    
    background-color: rgb(89, 5, 128);
    color: rgb(211, 192, 255);

    .navigation-link {
        width: 30%;
        padding: 1rem;
        text-align: center; 

        &:hover {
            text-decoration: rgb(211, 192, 255) wavy underline;
        }
    }

    .active {
        background-color: rgb(211, 192, 255);;
        color:rgb(89, 5, 128);
    }
}