@use '/assets/styles/variables';

.home-container {
    height: calc(100vh - 6.4rem);
    text-align: center;
    padding-top: 25vh;

    .devway-title {
        color: variables.$base-color;
        font-weight: variables.$bold;
        font-size: 6rem;   
    }
}