@use '/assets/styles/variables';

.realisations-container {
    min-height: calc(100vh - 6.4rem);
    text-align: center;
    color: variables.$base-color;
    padding-top: 10vh;

        h1 {
            font-size: 2rem;
            font-weight: variables.$semibold;
            margin: 25vh auto 5rem;
        }

        p {
            font-size: 1.5rem;
        }

        .mesrealisations-list {
            width: 50%;
            display: flex;
            margin: 3rem auto;

            .mesrealisations-link {
                background-color: variables.$base-color;
                color: variables.$light-color;
                margin: 1rem;
                padding: 1rem;
                border-radius: 2rem;
            }
        }
}