{% extends 'back/base.html.twig' %}

{% block title %}Devway Back{% endblock %}

{% block body %}
    <div class="container col-6">
        <h1>Ajouter une entrée MakeAList</h1>

        {{ include('back/mes_realisations/make_a_list/_form.html.twig') }}

        <a href="{{ path('make_a_list_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
