{% extends 'back/base.html.twig' %}

{% block title %}Devway Back{% endblock %}

{% block body %}
    <h1>Editer une realisation</h1>

    {{ include('back/realisation/_form.html.twig', {'button_label': 'Editer'}) }}

    {{ include('back/realisation/_delete_form.html.twig') }}

    <a href="{{ path('realisations') }}">Retour à la liste</a>
{% endblock %}
